canvas {
    width: "960";
    height: "650";
    border: 1px solid #c3c3c3;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 960px;
}